.bouncing-arrow {
    display: inline-block;
    animation: bounce-left-right 0.6s infinite alternate ease-in-out;
}

@keyframes bounce-left-right {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(10px);
    }
}


.slide-in-bounce {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    animation: slideIn 1s ease-out forwards, gentleBounce 1s ease-in-out 1s 5;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }

    60% {
        transform: translateX(15%);
    }

    80% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes gentleBounce {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(6%);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(-4%);
    }

    100% {
        transform: translateX(0);
    }
}